doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/style.css')
  body(style="background-color:#FDE9D5;")
    nav
      .nav-wrapper(style="background-color:rgb(22,54,92)")
        a.brand-logo.center(href='#')!= title
    .container
      != yield
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js')
    script(src='/js/main.js')
      